
    <div id="home"></div>
 <div class="ournet-inter-area">
    <header id="header" class="header-area">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-3">
                     <div class="logo">
                         <a href="#"><img src="../assets/images/logo.png" alt=""></a>
                     </div>
                 </div>
                 <div class="col-lg-8 col-9">
                     <div class="mainmenu">
                         <ul>
                             <li><a class="scroll-animite" href="#home">Home</a></li>
                             <li><a class="scroll-animite" href="#about">About Us</a></li>
                             <li><a class="scroll-animite" href="#service">Services </a></li>
                             <li><a class="scroll-animite" href="#feature">Features</a></li>
                             <li><a class="scroll-animite" href="#pricing">Pricing</a></li>
                             <li><a class="scroll-animite" href="#review">Review</a></li>
                             <div class="dropdown">
                                 <button class="dropbtn">Login</button>
                                 <div class="dropdown-content text-left">
                                   <a href="loginCustomer">Customer Login</a>
                                   <a href="loginEmployee">Staff Login</a>
                                 </div>
                               </div>
                         </ul>
                         
                           
                     </div>
                     <div class="mobile-menu"></div>
                 </div>
             </div>
         </div>
     </header>
 
     <!-- Slider area Start -->
     <div class="slider-area">
         <div class="slider-bg text-center">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <div class="slidertext">
                             <h1>Explore over the World  with Ournet</h1>
                             <p>Striving towards an era of unlimited data.</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="slider-info">
                 <img class="shape-1" src="../assets/images/sl-1.png" alt="">
                 <img class="shape-2" src="../assets/images/sl-2.png" alt="">
                 <img class="shape-3" src="../assets/images/sl-3.png" alt="">
                 <img class="shape-4" src="../assets/images/sl-4.png" alt="">
                 <img class="shape-5" src="../assets/images/sl-5.png" alt="">
                 <img class="shape-6" src="../assets/images/sl-6.png" alt="">
                 <img class="shape-8" src="../assets/images/sl-7.png" alt="">
                 <img class="shape-7" src="../assets/images/sl-8.png" alt="">
             </div>
         </div>
     </div>
     <div id="about" class="about-area pdt-125px pdb-125px">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="about-text">
                         <h1 class="mb-20px">About Us</h1>
                         <p class="text-muted">Nexus Communications Ltd is a private broadband internet and landline service 
provider  with 12 years of experience.</p>
                         <p class="mb-30px text-muted">We are provided Internet and LindLine Service since 2002. Our services are most trustfull and cheaper than any other service provider within city </p>
                         
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="about-bg">
                         <div class="about-bg-main">
                             <img src="../assets/images/about-img.png" alt="">
                         </div>
                         <img class="shape-top-1" src="../assets/images/ab-shape-top-1.png" alt="">
                         <img class="shape-top-2" src="../assets/images/ab-shape-top-2.png" alt="">
                         <img class="shape-bottom" src="../assets/images/shape-bottom-bg.png" alt="">
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="service" class="service-area">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-lg-3 col-md-6">
                     <div class="service-box-area">
                         <img src="../assets/images/1.png" alt="">
                         <div class="overlay-service">
                             <h4>Sole operator on <br> 5G growth path</h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="service-box-area">
                         <img src="../assets/images/2.png" alt="">
                         <div class="overlay-service">
                             <h4>Dedicated Pure-Data <br> provider</h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="service-box-area">
                         <img src="../assets/images/3.png" alt="">
                         <div class="overlay-service">
                             <h4>Triple-play services <br> on the go</h4>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="service-box-area">
                         <img src="../assets/images/4.png" alt="">
                         <div class="overlay-service">
                             <h4>Capability of providing <br> 100mbs wirelessly</h4>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="feature" class="feature-area pdt-125px">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-50px text-center">
                        <span>Features</span>
                        <h1>Why we are Special</h1>
                    </div>
                </div>
            </div>
             <div class="row">                   
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-1.png" alt="">
                         <h4>Unlimited Package</h4>
                         
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-2.png" alt="">
                         <h4>Dedicated IP Server</h4>
                         
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-3.png" alt="">
                         <h4>Fiver Optic Network</h4>
                         
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-1.png" alt="">
                         <h4>Stable Connections</h4>
                         
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-5.png" alt="">
                         <h4>Buffer Free Browsing</h4>
                         
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                     <div class="feature-item mb-30px">
                         <img src="../assets/images/feature-6.png" alt="">
                         <h4>24/7 Customer Support</h4>
                         
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
     <div id="pricing" class="pricing-table-area pdt-125px pdb-95px">
         <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb-50px text-center">
                        <span>Pricing</span>
                        <h1>Choose your Package Plan</h1>
                    </div>
                </div>
            </div>
             <div class="row">
                 <div class="col-lg-4 col-md-4">
                     <div class="pricing-item text-center mb-30px">
                         <div class="pricing-head">
                             <h4>Cherry</h4>
                             <div class="speed">
                                 <h1>10</h1>
                                 <span>mbps</span>
                             </div>
                         </div>
                         <div class="pricing-content">
                             <ul>
                                 <li>Unlimited Browsing</li> 
                                 <li>12AM- 9PM 10mbps</li>
                                 <li>10 mbps YouTube</li>
                                 <li>10 mbps BDIX Server</li>
                                 <li>Secure Real IP</li>
                             </ul>
                         </div>
                         <div class="pricing-footer">
                            
                             <div class="price">
                                 <h1>3000 &#8377; </h1>
                                 <span>Monthly</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-4">
                     <div class="pricing-item text-center mb-30px">
                         <div class="pricing-head">
                             <h4>Peach</h4>
                             <div class="speed">
                                 <h1>20</h1>
                                 <span>mbps</span>
                             </div>
                         </div>
                         <div class="pricing-content">
                             <ul>
                                 <li>Unlimited Browsing</li> 
                                 <li>12AM- 9PM 20mbps</li>
                                 <li>20 mbps YouTube</li>
                                 <li>20 mbps BDIX Server</li>
                                 <li>Secure Real IP</li>
                             </ul>
                         </div>
                         <div class="pricing-footer">

                             <div class="price">
                                 <h1>5500 &#8377;</h1>
                                 <span>Monthly</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-4">
                     <div class="pricing-item text-center mb-30px">
                         <div class="pricing-head">
                             <h4>Kiwi</h4>
                             <div class="speed">
                                 <h1>15</h1>
                                 <span>mbps</span>
                             </div>
                         </div>
                         <div class="pricing-content">
                             <ul>
                                 <li>Unlimited Browsing</li> 
                                 <li>12AM- 9PM 15mbps</li>
                                 <li>15 mbps YouTube</li>
                                 <li>15 mbps BDIX Server</li>
                                 <li>Secure Real IP</li>
                             </ul>
                         </div>
                         <div class="pricing-footer">
                            
                             <div class="price">
                                 <h1>2000 &#8377;</h1>
                                 <span>Monthly</span>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="about-bannertwo pdb-125px">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <div class="about-bg-c-two">
                         <div class="row">
                             <div class="col-lg-5">
                                 <div class="abpi-t">
                                     <h4>We'll help you get back to work</h4>
                                     <p>In the situation like pandamic of corona ,we are here to help you any time. We belive that work from home is the need fro you</p>
                                    
                                 </div>
                             </div>
                         </div>
                         <div class="about-bg wow fadeInUp animated" data-wow-delay=".2s">
                             <img src="../assets/images/banner-2.png" alt="">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div id="review" class="testimonial-area section-bg pd-125px">
         <div class="container">
             <div class="row">
                 <div class="col-lg-10 offset-lg-1">
                     <div class="ournet-testimonial-carousel">
                         <div class="testimonial-item text-center">
                             <div class="quate">
                                 <img src="../assets/images/quate.png" alt="">
                             </div>
                             <p>‘’Best service in City. Customer support is also good. Will resolve issues fast and skilled technicians. Charges are moderate and service ia excellent. Loved experience with ACT fibernet. Recommended one.”</p>
                             <h3>Farnando Toress</h3>
                             <span>Student</span>
                         </div>
                         <div class="testimonial-item text-center">
                             <div class="quate">
                                 <img src="../assets/images/quate.png" alt="">
                             </div>
                             <p>‘’Using it from past 4months. good experience with jio. Super in speed there is no drope in speed till now.worth money with best internet speed. Recommended one ”</p>
                             <h3>Farnando Toress</h3>
                             <span>Student</span>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
    
     <div class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-widget">
                            <div class="footer-logo text-center">
                                <a href="#"><img src="../assets/images/footer-logo.png" alt=""></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                         <div class="footer-copyright-item text-center">
                             <p>Copyright &copy; 2021 Ournet. Design & Developed by Nexus Team.</p>
                         </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>   
