<div>
    <h2>Welcome to Admin DashBoeard Page</h2>
    <div align="right">
    <!-- <input type="button" value="Logout" (click)="logout()" /> -->
    </div>

    <a routerLink="addinternetplan">Add Internet plan</a><br>
    <a routerLink="deleteinternetplan">delete Internet plan</a><br>
    <a routerLink="updateinternetplan">update internet plan</a><br>
    <a routerLink="seeinternetplan">see internet plans</a><br>
    <a routerLink="addlandlineplan">Add landlinep plan</a><br>
    <a routerLink="deletelandlineplan">delete landlinep plan</a><br>
    <a routerLink="updatelandlineplan">update landlinep plan</a><br>
    <a routerLink="seelandlineplan">see landlinep plans</a><br>
    <a routerLink="addvendor">Add Vendor</a><br>
    <a routerLink="updatevendorinternetkit">Update internet kit</a><br>
    <a routerLink="updatevendorlandlinekit">Update landline kit</a><br>
    <a routerLink="seeallvendor">see all vendor</a><br>
    <a routerLink="addtechnical">Add Technical</a><br>
    <a routerLink="displaytechnical">Display Technical</a><br>
    <a routerLink="addretailer">Add Retailer</a><br>
    <a routerLink="displayretailer">Display Retailer</a><br>
    <hr>
 
  
</div>

<link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
<link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
<nav class="navbar  navbar-light bg-dark">
    <a class="navbar-brand text-white text-bold" >Welcome Admin</a>
    <button class="navbar-toggler text-white border-0 mb-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white border-0"><i class="fa fa-align-justify" style="font-size:24px"></i></span>
    </button>
  
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
       
        <li class="nav-item link">
          <a class="nav-link text-white"  routerLink="seeinternetplan">INTERNET PLANS</a>
        </li>
     </ul>
    </div>
  </nav>
  <hr>
  <router-outlet></router-outlet>