
<div class="container register-form">
    <div class="form">
        <div class="note">
            <h4 class="mt-5 pt-3">Add Landline Plan</h4>
        </div>
        <div class="my-1 text-white bg-success text-center">{{msg}}</div>
        <div class="form-content">
            <form #userRef="ngForm" (ngSubmit)="addLandLinePlan(userRef.value)">
            <div class="row">
                
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Enter Price of Plan *</Label>
                        <input type="text" class="form-control mb-0" name="cost" placeholder="eg.1200" value="" ngModel #cost1="ngModel"  required/>
                        <div class="ml-2" *ngIf="cost1.errors && (cost1.dirty || cost1.touched)">
                            <span [hidden]="!cost1.errors.required" style="color:red">
                              Cost is required
                            </span>
      
                          </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Enter Duration of Plan *</Label>
                        <input type="text" class="form-control mb-0" name="duration" placeholder="eg.12" value="" ngModel #duration1="ngModel"  required/>
                        <div class="ml-2" *ngIf="duration1.errors && (duration1.dirty || duration1.touched)">
                            <span [hidden]="!duration1.errors.required" style="color:red">
                              Duration is required
                            </span>
      
                          </div>
                    </div>
                </div>
                
            </div>
            <div class="mx-auto">
                <button type="submit" class="btnSubmit  mx-5">Submit</button>
                <button type="button" class="btnSubmit" (click)="goback()">Back</button>
            </div>
        </form>
        </div>
    </div>
</div>