<div>
    <div>
        <table border="1">
            <tr>
                <th>oid</th>
                <th>rid</th>
                <th>cid</th>
                <th>request</th>
                <th>Proceed</th>
                
            </tr>
            <tr *ngFor = "let o of order">
            
                <td>{{o.oid}}</td>
                <input type="hidden" value={{o.oid}} #ref>
                <td>{{o.rid}}</td>
                <td>{{o.cid}}</td>
                <td>{{o.requested_plan}}</td>
                <td><input type="button" value="Proceed" (click) = "retailerPlaceOrderDetails(ref.value)"/></td>
            </tr>
        </table>
        {{msg}}
    </div>
</div>