
<div class="mt-5">
    <div *ngIf ="flagl">
        <div>
            <div class=" text-black text-center mt-2"><h4 class="mb-0">Landline Order Details</h4></div>
            <table class="mx-auto text-black text-center br-5" style="width: 85%;"> 
                <tr class="bg-primary text-white" style="height: 50px;">
                    
                <th>lid</th>
                <th>Duration</th>
                <th>Cost</th>
                <th>status</th>
            </tr>
            <tr *ngFor = "let landline of landlineArray1">
                <td>{{landline.lid}}</td>
                <td>{{landline.duration}}</td>
                <td>{{landline.cost}}</td>
                <td>{{landline.status}}</td>
            </tr>
        </table>
    </div>

        <br>

        
<div>
    <div *ngIf ="flagi">
        <div class=" text-black text-center mt-2"><h4 class="mb-0">Internet Order Details</h4></div>
        <table class="mx-auto text-black text-center br-5 " style="width: 85%;"> 
            <tr class="bg-primary text-white" style="height: 50px;">
                <th>iid</th>
                <th>Speed</th>
                <th>Cost</th>
                <th>Duration</th>
                <th>Status</th>

                
            </tr>
            <tr *ngFor = "let obj of internetArray1"  >
                <td >{{obj.iid}}</td>
                <td>{{obj.speed}}</td>
                <td>{{obj.cost}}</td>
                <td>{{obj.duration}}</td>
                <td>{{obj.status}}</td>
            </tr>
        </table>
        {{msg}}
       


    </div>
</div>

