<div>
    <h2>Retailer Place Details</h2>
    <form [formGroup]="ret_orderInfo" (ngSubmit)="retailerPlaceOrderDetails()">
        <!--<label>customer id</label>
        <input type="number" formControlName="cid"/><br/>-->
        <label>order id</label>
        <input type="number" formControlName="oid"/><br/>
        <!--<label>Requested Plan Id</label>
        <input type="number" formControlName="requested_plan"/><br/>
        <label>retailer Id</label>
        <input type="number" formControlName="rid"/><br/>
        <label>status</label>
        <input type="text" formControlName="status"/><br/>-->
        <input type="submit" value="Place Order by Retailer"/>
        <input type="reset" value="reset"/>
    </form>
    {{msg}}
</div>