<div>
  <!--<app-get-landlineplan></app-get-landlineplan>
  <app-add-landlineplan></app-add-landlineplan>
  <app-delete-landlineplan></app-delete-landlineplan>
  <app-update-landlineplan></app-update-landlineplan>
  <router-outlet></router-outlet>
  <app-deletecustomer></app-deletecustomer>
  <app-displaycustomerplan></app-displaycustomerplan>
  <app-orderlandlineplan></app-orderlandlineplan>
  <app-orderinternetplan></app-orderinternetplan>
  <app-addcustomer></app-addcustomer>
  <app-updatecustomer></app-updatecustomer>-->
  <router-outlet></router-outlet>
</div>