<div>
    <div class=" text-black text-center mt-5 mb-3"><h4 class="mb-0">Order Stock</h4></div>
        <div class="text-center text-black my-1 alert-success">{{msg}}</div>
        <table border="1" class="text-black text-center mx-auto br-5" style="width: 85%;">
            <tr class="text-bold  bg-primary text-white" style="height: 50px;">
            <th>Type of kit</th>
            <th>Available Stock</th>
            <th>Stock Required</th>
            <th>Request for Kit to Vendor</th>
        </tr>   
        <tr>
            <td>Internet Kit</td>
            <td>{{retailer[0].internetKit}}</td>
            <td><input type="number" class=" text-black br-3 text-center form-control" placeholder="Enter Stock" #reqstocki #resti="ngModel" ngModel required>
                <div *ngIf="resti.errors && (resti.dirty || resti.touched)">
                    <span [hidden]="!resti.errors.required" style="color:red">
                      Stock value is required
                    </span>
      
                  </div>
              </td>
            <td><input type="button" class="btn btn-success" value="click here" (click)="placeOrderStocki(reqstocki.value)" [disabled]="!resti.valid"></td>
        </tr>
        <tr>
            <td>Landline Kit</td>
            <td>{{retailer[0].landlineKit}}</td>
            <td><input type="number" class="text-black br-3 text-center form-control"  placeholder="Enter Stock" #reqstockl #restl="ngModel" ngModel required>

            <div *ngIf="restl.errors && (restl.dirty || restl.touched)">
              <span [hidden]="!restl.errors.required" style="color:red">
                Stock value is required
              </span>

            </div>
        </td>




            <td><input type="button" class="btn btn-success" value="click here" (click)="placeOrderStockl(reqstockl.value)" [disabled]="!restl.valid"></td>

        </tr>
    </table>
    
</div> 

