
<div class="pr-5"> <button class="btn btn-lg btn-success text-white float-right mb-2" (click)="addLandlineKit()" >Add Landline Plan</button> </div>
<div *ngIf="flag"> 
    <div class=" text-black text-center mt-5 mb-3"><h4 class="mb-0">Landline Plans</h4></div>
        <div class="text-center text-black my-1 alert-danger">{{msg}}</div>
        <table border="1" class="text-black text-center mx-auto br-5" style="width: 85%;">
            <tr class="text-bold  bg-primary text-white" style="height: 50px;">
            <th>Id</th>
            <th>Duration in month</th>
            <th>Cost in Ruppes</th>
            <th>Update plan</th>
            <th>Delete plan</th>
            </tr>
            <tr *ngFor = "let landline of landlineInfo">
                <td>{{landline.lid}}</td>
                <td>{{landline.duration}}</td>
                <td>{{landline.cost}}</td>
                <input type="hidden" value="{{landline.lid}}" #id>
                <input type="hidden" value="{{landline.cost}}" #cost>
                <input type="hidden" value="{{landline.duration}}" #duration>
                <th> <button class="btn btn-warning text-white"  (click)="updateLandlineKit(id.value,cost.value,duration.value)" >update</button> </th>
                <th><button  class="btn btn-danger" (click)="deleteLandlineKit(id.value)" >delete</button> </th>
            </tr>
        </table>



</div>
