
   <div class="pr-5"> <button class="btn btn-lg bg-success text-white float-right " (click)="addInternetKit()" >Add Internet Plan</button> </div>
    <div *ngIf="flag"> 
        <div class=" text-black text-center mt-5 mb-3"><h4 class="mb-0">Internet Plans</h4></div>
        <div class="text-center text-black my-1 alert-danger">{{msg}}</div>
        <table border="1" class="text-black text-center mx-auto br-5" style="width: 85%;">
            <tr class="text-bold  bg-primary text-white" style="height: 50px;">
                <th>Id</th>
                <th>Speed</th>
                <th>Cost in Ruppes</th>
                <th>Duration in month</th>
                <th>Update plan</th>
                <th>Delete plan</th>
            </tr>
            <tr *ngFor="let net of netInfo">
                <td>{{net.iid}}</td>
                <td>{{net.speed}}</td>
                <td>{{net.cost}}</td>
                <td>{{net.duration}}</td>
                <input type="hidden" value="{{net.iid}}" #id>
                <input type="hidden" value="{{net.speed}}" #speed>
                <input type="hidden" value="{{net.cost}}" #cost>
                <input type="hidden" value="{{net.duration}}" #duration>
                <th> <button class="btn btn-warning text-white" (click)="updateInternetKit(id.value,speed.value,cost.value,duration.value)" >update</button> </th>
                <th><button  class="btn btn-danger" (click)="deleteInternetKit(id.value)" >delete</button> </th>
            </tr>
        </table>
    </div>
