<div class="mt-5">
    <div class="text-center text-black  my-1 alert-danger">{{msg}}</div>
    <div *ngIf="flag">
        <table border="1" class="text-black text-center w-100">
            <tr class="bg-primary" style="height: 50px;">
            
            <th>Duration</th>
            <th>Speed</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Bill Status</th>
            <th>Pay</th>
        </tr>
        <tr *ngFor="let tech of planbill">
            <td>{{tech.duration}}</td>
            <input type="hidden" value={{tech.cnid}} #ref>
            <td>{{tech.speed}}</td>
            <td>{{tech.startdate}}</td>
            <td>{{tech.enddate}}</td>
            <td>{{tech.cost}}</td>
            <td>{{tech.status}}</td>
            <td>{{tech.billstatus}}</td>
            <td><input type="button" class="btn btn-success" value="Pay Bill" (click) = "payBill(ref.value)"/></td>
            
        </tr>
    </table>
    

</div>
</div>
