<div>
    <div class="text-center text-white bg-dark my-1">{{msg}}</div>
    <div *ngIf="flag">
        <table border="1" class="text-white text-center bg-dark text-center w-100">
            <tr class="text-bold" style="height: 50px;">
            
            <th>Duration</th>
            <th>Speed</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Bill Status</th>
            <th>Pay</th>
        </tr>
        <tr *ngFor="let tech of planbill">
            <td>{{tech.duration}}</td>
            <input type="hidden" value={{tech.cnid}} #ref>
            <td>{{tech.speed}}</td>
            <td>{{tech.startdate}}</td>
            <td>{{tech.enddate}}</td>
            <td>{{tech.cost}}</td>
            <td>{{tech.status}}</td>
            <td>{{tech.billstatus}}</td>
            <td><input type="button" value="Pay Bill" (click) = "payBill(ref.value)"/></td>
            
        </tr>
    </table>
    {{msg}}

</div>
</div>
