<div class="mr-5"> <button class="btn btn-lg btn-success text-white float-right mb-2" (click)="addRetailer()" >Add New Retailer</button> </div>
    <div *ngIf="flag"> 
        <div class=" text-black text-center mt-5"><h4 class="mb-3">Retailers Details</h4></div>
        <table class="mx-auto text-black text-center br-5" style="width: 85%;"> 
            <tr class="bg-primary text-white" style="height: 50px;">
       
            <th>Rid</th>
            <th>Internet kit</th>
            <th>Landline kit</th>
            <th>Vendor Id</th>
            <th>Pincode</th>
            <th>Delete/Update</th>
           
        </tr>
        <tr *ngFor="let retailer of retailerinfo">
            <td>{{retailer.rid}}</td>
            <td>{{retailer.internetKit}}</td>
            <td>{{retailer.landlineKit}}</td>
            <td>{{retailer.vid}}</td>
            <td>{{retailer.pincode}}</td>
            <input type="hidden" name="rid" value="{{retailer.rid}}" #id>
            <th> <button class=" btn btn-warning" (click)="replaceretailer(id.value)">delete or update</button></th>
        </tr>
    </table>
    <router-outlet></router-outlet>
</div>
