<div>
    <div *ngIf="flag">
        <div class=" text-black text-center mt-5 mb-3"><h4 class="mb-0">View Orders</h4></div>
        <div class="text-center text-black my-1 alert-success">{{msg}}</div>
        <table border="1" class="text-black text-center mx-auto br-5" style="width: 85%;">
            <tr class="text-bold  bg-primary text-white" style="height: 50px;">
            <th>Order id</th>
            <th>Retailer id</th>
            <th>Proceed</th>
        </tr>
        <tr *ngFor="let tech of technicalInfo">
            <td>{{tech.oid}}</td>
            <input type="hidden" value={{tech.oid}} #ref>
            <td>{{tech.rid}}</td>
            <td><input type="button" value="Proced" class="btn btn-success" (click) = "palceTechnical(ref.value)"/></td>
        </tr>
    </table>
    
</div>
</div>
