
<div class="mt-5">
    <div class=" text-black text-center mt-2"><h4 class="mb-0">Internet Plans</h4></div>
    <div class="text-center text-black my-1 alert-danger">{{msg}}</div>
    <div *ngIf ="flag">

        <table class="w-100 text-black text-center  border" border="1"> 
            <tr class="bg-primary" style="height: 50px;">
                <th>iid</th>
                <th>Speed</th>
                <th>Cost in Ruppes</th>
                <th>Duration in Months</th>
                <th>Buy</th>
                
            </tr>
            <tr *ngFor = "let obj of internetArray"  >
                <td >{{obj.iid}}</td>
                <input type="hidden" value={{obj.iid}} #ref>
                <td>{{obj.speed}}</td>
                <td>{{obj.cost}}</td>
                <td>{{obj.duration}}</td>
                <td><button value="Buy" class="text-white btn myDiv"  style="background-color:{{obj.colori}}" (click) = "orderInternet(ref.value,$event)">BUY</button></td>
            </tr>
        </table>
      



    </div>
</div>