
<div>
    <div class="text-center text-white bg-dark my-1">{{msg}}</div>
    <div *ngIf ="flag">

        <table class="w-100 text-white text-center bg-dark border" border="1"> 
            <tr class="bg-dark" style="height: 50px;">
                <th>lid</th>
                <th>Duration in Months</th>
                <th>Cost in Ruppes</th>
                <th>Buy</th>
            </tr>
            <tr *ngFor = "let obj of landlineArray"  >
                <td >{{obj.lid}}</td>
                <input type="hidden" value={{obj.lid}} #ref>
                <td>{{obj.duration}}</td>
                <td>{{obj.cost}}</td>
                <td><input type="button" value="Buy" (click) = "orderLandline(ref.value)"/></td>
            </tr>
        </table>
        {{msg}}



    </div>
</div>