
<div class="container register-form">
    <div class="form">
        <div class="note">
            <h4 class="mt-5 pt-3">Update Internet Plan</h4>
        </div>
        <div class="my-1 text-white bg-success text-center">{{msg}}</div>
        <div class="form-content">
            <form #NetRef="ngForm" (ngSubmit)="updateNet(NetRef.value); NetRef.reset()" >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Internet ID:</Label>
                        <input type="text" class="form-control" name="iid" [(ngModel)]="id" />
                    </div>
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Speed in Mbps(eg.10Mbps)</Label>
                        <input type="text" class="form-control" name="speed" [(ngModel)]="speed"/>
                    </div>
                </div>
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Price of Plan(eg.1200)</Label>
                        <input type="text" class="form-control" name="cost" [(ngModel)]="cost"/>
                    </div>
                    <div class="form-group">
                        <Label class="text-primary text-bold" style="font-size: 20px;">Duration of Plan in months(eg.12)</Label>
                        <input type="text" class="form-control" name="duration" [(ngModel)]="duration"/>
                    </div>
                
                </div>
              
            </div>
            <div class="mx-auto">
            <button type="submit" class="btnSubmit  mx-5">Submit</button>
            <button type="button" class="btnSubmit" (click)="goback()">Back</button>
        </div>
        </form>
        </div>
    </div>
</div>




